<h1>Money Cashboard</h1>
<div class="welcome">
<b>Welcome to your money cashboard!</b>
 <p>Stay in control of your finances by easily identifying the different areas of your spending. Keep track of all transactions you make and use the search functions to easily find historic data, or check how much you've spent at an individual merchant.  On your right you can see how much you've spent this month, and know exactly how much more you can spend to stay within budget.</p>
</div>