<h1> Add Tag </h1>

<form action="/tags" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name">
  <label for="colour">Colour:</label>
  <input type="color" name="colour" value="#FFFFFF">
  <label for="budget">Budget(£):</label>
  <input type="number" step="0.01" min="0" name="budget">

  <input type='submit' value="Add Tag">
</form>