<h1>Merchants</h1>

<% @merchants.each do |merchant| %>
  <div class="t_index merchant">
    <b>Name</b>
    <p><%= merchant.name %></p>
    <a href="/merchants/<%= merchant.id %>">View</a>
    <a href="/merchants/<%= merchant.id %>/edit">Edit</a><br>
  </div>
<% end %>
<hr>
<a href="/merchants/new">Add new merchant</a><br>
