* {
  font-family: system, -apple-system, BlinkMacSystemFont,
        "Helvetica Neue", "Lucida Grande";
}

.tag {
  display: block;
  width: 50px;
  height: 50px;
  box-shadow: 5px 5px 3px #000;
  margin: 10px;
}

.transaction_tag {
  display: block;
  box-shadow: 5px 5px 3px #000;
  margin: 10px;
  padding: 2px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-decoration: none;
  color: white;
}

body {
  font-family: "Arial";
  margin: 0;
  background-image: url("/img/creditcard.jpeg");
  background-size: 100%;
}

body > img {
  opacity: 5%
}

form {
  margin: 20px;
}

input {
  margin: 5px;
  font-size: 1em;
}

input[type=submit] {
  background-color: lightblue;
  border: none;
  color: navy;
}

main ul li {
  margin-bottom: 10px;
}

main {
  margin: 10px;
}

.t_index{
  margin-left: 20px;
  border: 1px solid #000;
  float:left;
  padding: 15px;
  border-radius: 10px;
  background-color: #EEE
}

.merchant{
  min-width: 100px
}

hr{
  clear: both;
  margin: 10px;
}

h1{
  margin-left: 20px
}

.top_section{
  margin-left: 20px
}

.welcome{
  float:left;
  width:50%;
  text-align: center;
      margin-left: 1em;
      border:10px solid grey;
      padding:4em;
  background: rgba(255,0,0,0.1)
}

nav
{
padding:0;
}

nav li
{
display:inline;
}

nav li a
{
font-family:Arial;
font-size:15px;
text-decoration: none;
float:left;
padding:20px;
background-color: #333333;
color:#ffffff;
border-bottom:1px;
border-bottom-color:#000000;
border-bottom-style:solid;
}

nav li a:hover
{
background-color:#9B1C26;
padding-bottom:12px;
border-bottom:2px;
border-bottom-color:#000000;
border-bottom-style:solid;
margin: -1px;
}

nav ul li {
  display: inline-block;
  list-style: none;
}

/*.button {
  font: 14px Arial;
  text-decoration: none;
  background-color: #333333;
  color: #ffffff;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}*/

.button {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    background: #4479BA;
    color: #FFF;
    padding: 8px 12px;
    text-decoration: none;
}